<nav class="navbar navbar-custom">
    <a href="#" class="home-header"> Online Wallet </a>
    <div class="display-block">
        <ul class="nav navbar-nav">
            <button type="button" style="margin:10px;cursor:pointer" routerLinkActive="Active" routerLink="home">Home</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLinkActive="Active" routerLink="add-user">Register</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLinkActive="Active" routerLink="user-login">Log In</button>
            <button type="button" style="margin:10px;cursor:pointer" routerLinkActive="Active" routerLink="account-details">Account Details</button>
        </ul>
    </div>
</nav>