<div class="container-fluid" [ngStyle]="{background: 'url(https://www.icolorpalette.com/download/solidcolorimage/a1514b_solid_color_background_icolorpalette.png)'}">
  <div class="row">
  <div class="column">
    <h2>Sign up right now!</h2>
    Welcome to online wallet management application. If you are a new user, please click on <b>Register</b> button and enjoy our services.
  </div>
  <div class="column">
    <h2>Already a user!</h2>
    Welcome back. Please click on <b>Log In</b> button to access your account and enjoy our services.
  </div>
  </div> 
</div>